@charset "utf-8"
/* CSS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
	background-color:#131316;
	color:#ffffff;
	font-family: 'Poppins', sans-serif;
	padding: 0;
	margin: 0;
}

section {
	display: grid;
	place-items: center;
	align-content: center;
	min-height:100vh;
}

.hidden {
	opacity: 0;
	transition: all 2s;
}

.show {
	opacity: 1;
}

#video-background {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
}